{% extends 'layout.html' %}


{% block body %}
    <div class="text-center">
        <img src="{{ url_for('static', filename='images/logo_text.svg') }}" alt="logo" style="width: 80%;">
    </div>
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link nav-main" href="{{ url_for('single') }}">Single Image</a>
        <a class="nav-link nav-main" href="{{ url_for('batch') }}">Batch Processing</a>
        <a class="nav-link nav-main" href="{{ url_for('help') }}">Help</a>
    </nav>
{% endblock body %}
